/* 기본 스타일 */
.background {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.mainbox {
  padding: 1.5%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  overflow-y: auto;
}

/* Edu & Exp */
.projectbox {
  margin: 2%;
  padding: 1.2%;
  width: 55rem;
  height: 87vh;
  overflow-y: scroll;
  border: solid #b8b8b85b 1px;
  border-radius: 10px;
}

.projectbox::-webkit-scrollbar {
  display: none;
}