@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
    font-family: 'IBM Plex Sans';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
